<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/pgi/linux86-64/5.2/bin/pgdbg"/>
    <stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="perspective_default"/>
    <stringAttribute
        key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/home1/cs/cs1mkg/"/>
    <stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_default"/>
</launchConfiguration>
